.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;

  /* object-fit: cover; */
}

/* Declare transition start properties */
.image-enter {
  opacity: 0%;
}

/* Declare transition properties */
.image-enter-active {
  opacity: 100%;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
}

.image-enter-done {
  opacity: 100%;
}

.image-exit {
  opacity: 100%;
}

.image-exit-active {
  opacity: 0%;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
}

.image-exit-done {
  opacity: 0%;
}
