.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;

  /* object-fit: cover; */
}

/* Declare transition start properties */
.imageEnter {
  opacity: 0;
}

/* Declare transition properties */
.imageEnterActive {
  opacity: 1;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
}

.imageEnterDone {
  opacity: 1;
}

.imageExit {
  opacity: 1;
}

.imageExitActive {
  opacity: 0;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
}

.imageExitDone {
  opacity: 0;
}
